html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    padding-top: 125px; /* adjust to prevent overlapping of header */
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #3F3636;
}

.img-responsive {
    margin: 0 auto;
}

.shrink-image {
    width: 90%;
    height: auto;
}

/* bold */
.heading {
    font-family: 'Bitter', serif;
}

/* navbar */
.navbar {
    background-color: #3F3636;
    border-style: none;
}

.navbar-left > img {
    position: relative;
    height: 125px;
    z-index: 100;
}

.navbar-nav {
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 18px;
    left: 5%;
    margin-top: 35px;
}

.navbar .navbar-nav > li {
    position: relative;
    background-color: #3F3636;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav .active > a {
    border-bottom: #EDDD9A solid 2px;
}

.navbar .navbar-nav .active > a:link,
.navbar .navbar-nav .active > a:active,
.navbar .navbar-nav .active > a:visited,
.navbar .navbar-nav .active > a:hover {
    background-color: #3F3636;
}

/* header slider */
#header-slider > li > img {
    height: 550px;
}

.lSSlideOuter .lSPager.lSpg > li.active > a {
    background-color: #EDDD9A !important;
}

.lSSlideOuter .lSPager.lSpg > li > a:visited,
.lSSlideOuter .lSPager.lSpg > li > a:hover,
.lSSlideOuter .lSPager.lSpg > li > a:link {
    background-color: #3F3636;
}

/* sections */
.keeto-section {
    /* background-color: white; */
    padding-bottom: 50px;
    border-bottom: 2px dotted;
    border-color: #3F3636;
}

.content-slider li > img {
    margin: auto;
}

.top-buffer {
    margin-top: 25px;
}

.bottom-buffer {
    margin-bottom: 65px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #3F3636;
}

.footer p {
    margin-top: 25px;
    color: white;
}
