html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    background-color: white;
}

/* bold */
.heading {
    font-family: 'Bitter', serif;
}

/* navbar */
.navbar {
    display: flex;
    background-color: #252624;
    height: 100px;
    border-bottom: 1.5px solid;
    border-color: black;
    font-size: 20px;
    margin-bottom: 0;
}

.navbar-left > img {
    position: relative;
    height: 125px;
    z-index: 100;
}

.navbar-collapse {
    position: relative;
    top: 25%;
}

.navbar .navbar-nav > li {
    position: relative;
    left: 10%;
    background-color: #252624;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav .active > a {
    border-bottom: red solid 2px;
}

.navbar .navbar-nav .active > a:link,
.navbar .navbar-nav .active > a:active,
.navbar .navbar-nav .active > a:visited,
.navbar .navbar-nav .active > a:hover {
    background-color: #252624;
}

/* carousel */
.carousel-inner {
    height: 700px;
}

.carousel-inner .item > img {
    height: 700px;
    width: 100%;
}

#carousel-button {
    margin-top: 40px;
}

/* sections */
.keeto-section {
    /* background-color: white; */
    padding-bottom: 50px;
    border-bottom: 2px dotted;
    border-color: slategray;
}

.content-slider li > img {
    margin: auto;
}

.top-buffer {
    margin-top: 25px;
}

.bottom-buffer {
    margin-bottom: 65px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #252624;
}

.footer p {
    margin-top: 25px;
    color: white;
}
