html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    padding-top: 6.0vw; /* adjust to prevent overlapping of header */
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    color: #3F3636;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #7884C0;
}

.img-responsive {
    margin: 0 auto;
}

.shrink-image {
    width: 85%;
    height: auto;
}

/* bold */
.heading {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

/* navbar */
.navbar {
    height: 6.0vw;
    background-color: #7884C0;
    border-style: none;
}

.navbar-left > img {
    position: relative;
    top: 0.5vw;
    left: 22vw;
    height: 8.0vw;
    z-index: 100;
}

.navbar-nav {
    position: relative;
    float: none;
    margin-top: 1.5vw;
    left: 23.0vw;
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 1.05vw;
    color: white;
}

.navbar .navbar-nav > li {
    position: relative;
    background-color: #7884C0;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav .active > a {
    border-bottom: 3px solid;
    border-color: #EDDD9A;
}

.navbar .navbar-nav .active > a:link,
.navbar .navbar-nav .active > a:focus,
.navbar .navbar-nav .active > a:active,
.navbar .navbar-nav .active > a:visited,
.navbar .navbar-nav .active > a:hover {
    background-color: #7884C0;
}

.navbar .navbar-collapse {
    text-align: center;
    width: 100%;
}

.navbar .navbar-collapse.collapsing,
.navbar .navbar-collapse.in {
    border-top: none;
    box-shadow: none;
}

.navbar-inverse .navbar-toggle {
    background-color: #7884C0;
    border-style: none;
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle:link .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:active .icon-bar {
    background-color: #EDDD9A;
}

.navbar-inverse .navbar-toggle.collapsed:hover .icon-bar {
    background-color: #EDDD9A;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background-color: white;
}

.navbar-inverse .navbar-toggle:link,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:hover {
    background-color: #7884C0;
    border-style: none;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #7884C0;
    }

    .navbar-collapse a > img {
        left: 2%;
        height: 15vw;
    }

    .navbar-nav {
        position: relative;
        left: 0;
        font-family: 'Bitter', serif;
        font-weight: 700;
        font-size: 2.5vw;
        color: white;
    }

    .navbar .navbar-nav .active > a {
        border-bottom: 2px solid;
        border-color: #EDDD9A;
    }
}

/* header slider */
#header-slider {
    border-top: 3px solid;
    border-color: #EDDD9A;
}

/* header captions */
#caption {
    position: absolute;
    bottom: 8.5vw;
    padding-left: 35vw;
    color: white;
    font-size: 1.8vw;
}

.lSSlideOuter .lSPager.lSpg > li.active > a {
    background-color: #EDDD9A !important;
}

.lSSlideOuter .lSPager.lSpg > li > a:visited,
.lSSlideOuter .lSPager.lSpg > li > a:hover,
.lSSlideOuter .lSPager.lSpg > li > a:link {
    background-color: #7884C0;
}

/* sections */
.keeto-section {
    padding-bottom: 50px;
    border-bottom: 0.15vw dotted;
    border-color: #3F3636;
}

.content-slider li > img {
    margin: auto;
}

.top-buffer {
    margin-top: 25px;
}

.bottom-buffer {
    margin-bottom: 65px;
}

/* download */
.nav-tabs > li.active {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.label-info {
    background-color: #394070;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.label-link {
    background-color: #7884C0;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.no-link-decoration:hover,
.no-link-decoration:visited,
.no-link-decoration:link,
.no-link-decoration:active {
    text-decoration: none;
}

.tab-pane .table {
    margin-bottom: 0;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #7884C0;
}

.footer p {
    margin-top: 25px;
    color: white;
}
