$keeto-purple: #7884C0;
$keeto-purple-dark: #394070;
$keeto-yellow: #EDDD9A;
$keeto-white: #FFFFFF;
$keeto-brown: #3F3636;

$keeto-header-height-desktop: 120px;
$keeto-header-height-tablet: $keeto-header-height-desktop;

@mixin tablet
{
	@media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1px})
	{
		@content;
	}
}

@mixin desktop
{
	@media (min-width: #{$screen-md-min})
	{
		@content;
	}
}

