@import "slick.scss";
@import "slick-theme.scss";
@import "bootstrap";
@import "keeto";

body
{
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: normal;
	background-color: white;
	color: $keeto-black;
}

a
{
	&:link,
	&:hover,
	&:visited,
	&:active
	{
		color: $keeto-purple;
	}
}

.heading
{
	font-family: 'Bitter', serif;
	font-weight: 700;
}

.navbar-header
{
	.navbar-toggle
	{
		background-color: transparent;
		border: none;

		&:hover,
		&:focus
		{
			background-color: transparent;
			border: none;
		}

		.icon-bar
		{
			background-color: $keeto-yellow;
		}
	}
}

.navbar
{
	background-color: $keeto-purple;
	border: none;

	@include desktop()
	{
		height: 75px;
	}
	@include tablet()
	{
		height: 75px;
	}

	&.showBorder
	{
		border-bottom: 2px solid $keeto-yellow;
	}

	.navbar-collapse
	{
		max-height: 355px;

		&.in,
		&.collapsing
		{
			border-top: none;
			box-shadow: none;
		}

		.navbar-nav
		{
			background-color: $keeto-purple;

			@include desktop()
			{
				.logo
				{
					position: relative;
					> a
					{
						width: 140px;

						img
						{
							position: absolute;
							height: 100px;
							top: -10px;
						}
					}
				}
			}

			@include tablet()
			{
				.logo
				{
					position: relative;
					> a
					{
						width: 140px;

						img
						{
							position: absolute;
							height: 100px;
							top: -10px;
						}
					}
				}
			}

			.logo
			{
				img
				{
					height: 100px;
				}
			}

			li
			{
				text-align: center;

				@include desktop()
				{
					text-align: left;
				}
				@include tablet()
				{
					text-align: left;
				}

				a
				{
					color: $keeto-white;
					margin-top: 12.5px;
					padding-top: 5px;
					padding-bottom: 5px;

					@include desktop()
					{
						padding-top: 15px;
						padding-bottom: 15px;
					}

					@include tablet()
					{
						padding-top: 15px;
						padding-bottom: 15px;
					}

				}
			}

			.active
			{
				a
				{
					&:hover,
					&:focus
					{
						background-color: transparent;
					}
					border-bottom: 2px solid $keeto-yellow;
					background-color: transparent;
				}
			}
		}
	}
}

.main-content
{
	@include desktop()
	{
		margin-top: 75px;
	}

	@include tablet()
	{
		margin-top: 75px;
	}

	margin-top: 50px;
}

.header-slider
{
	.slide
	{
		@include desktop()
		{
			height: 600px;
		}

		@include tablet()
		{
			height: 400px;
		}

		width: 100%;
		height: 150px;
	}
	.slide-first
	{
		@include desktop()
		{
			background: url('../img/slider-1-desktop.png') no-repeat;
		}

		@include tablet()
		{
			background: url('../img/slider-1-tablet.png') no-repeat;
		}

		background: url('../img/slider-1-smartphone.png') no-repeat;
	}

	.slide-second
	{
		@include desktop()
		{
			background: url('../img/slider-2-desktop.png') no-repeat;
		}

		@include tablet()
		{
			background: url('../img/slider-2-tablet.png') no-repeat;
		}

		background: url('../img/slider-2-smartphone.png') no-repeat;
	}

	.slide-third
	{
		@include desktop()
		{
			background: url('../img/slider-3-desktop.png') no-repeat;
		}

		@include tablet()
		{
			background: url('../img/slider-3-tablet.png') no-repeat;
		}

		background: url('../img/slider-3-smartphone.png') no-repeat;
	}

	.slick-prev
	{
		left: 5px;
	}

	.slick-next
	{
		right: 5px;
	}

	.slick-dots li button:before
	{
		font-size: 30px;
	}

	.slick-dots
	{
		li
		{
			button:before
			{
				font-size: 35px;
				color: $keeto-purple-lighter;
				opacity: 1;
			}

			&.slick-active
			{
				button:before
				{
					color: $keeto-purple-dark;
				}
			}
		}
	}
}