@import "keeto";

.header-slider
{
	.slide
	{
		position: relative;
		width: 100%;
		background-size: cover;
		height: 200px;

		@include desktop()
		{
			height: 600px;
		}

		@include tablet()
		{
			height: 400px;
		}

		.heading
		{
			color: $keeto-white;
			font-size: 14px;
			width: calc(100% - 95px);
			margin: 0 auto;
			padding-top: 68px;

			@include desktop()
			{
				font-size: 28px;
				width: 625px;
				position: absolute;
				top: 260px;
				left: 307px;
				padding-top: 0;
				margin: 0;
			}

			@include tablet()
			{
				font-size: 20px;
				width: 505px;
				position: absolute;
				top: 198px;
				left: 245px;
				padding-top: 0;
				margin: 0;
			}
		}
	}
	.slide-first
	{
		@include desktop()
		{
			background: url('/static/img/slider-1-desktop.png') left center no-repeat;
		}

		@include tablet()
		{
			background: url('/static/img/slider-1-tablet.png') left center no-repeat;
		}

		background: url('/static/img/slider-1-smartphone.png') left center no-repeat;
	}

	.slide-second
	{
		@include desktop()
		{
			background: url('/static/img/slider-2-desktop.png') left center no-repeat;
		}

		@include tablet()
		{
			background: url('/static/img/slider-2-tablet.png') left center no-repeat;
		}

		background: url('/static/img/slider-2-smartphone.png') left center no-repeat;
	}

	.slide-third
	{
		@include desktop()
		{
			background: url('/static/img/slider-3-desktop.png') left center no-repeat;
		}

		@include tablet()
		{
			background: url('/static/img/slider-3-tablet.png') left center no-repeat;
		}

		background: url('/static/img/slider-3-smartphone.png') left center no-repeat;
	}
}

.lSSlideOuter
{
	.lSPager
	{
		&.lSpg
		{
			>li
			{
				&.active
				{
					a
					{
						background-color: $keeto-yellow;
					}
				}

				a
				{
					background-color: $keeto-purple;
				}
			}
		}
	}
}

.lSPager
{
	.lSpg
	{
		li
		{
			&.active
			{
				a
				{
					background-color: $keeto-yellow;
				}
			}
			a
			{
				background-color: $keeto-purple;
			}
		}
	}
}

.content-slider
{
	img
	{
		margin: 0 auto;
	}
}

